In [1]:
# Import needed dependencies
import requests
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import re
from datetime import datetime
import datetime

In [2]:
game_logistics_df = pd.read_csv('total_game_logistics.csv')
away_stats_df = pd.read_csv('total_away_stats.csv')
home_stats_df = pd.read_csv('total_home_stats.csv')
box_score_df = pd.read_csv('total_box_score_df.csv')

In [3]:
all_player_stats_df = away_stats_df.append(home_stats_df)

all_player_stats_df.rename(columns = {'Unnamed: 0':'Name'}, inplace = True)

# delete all rows with team totals
non_players = all_player_stats_df[(all_player_stats_df['Name'] == 'Team Totals')].index
all_player_stats_df.drop(non_players , inplace=True)

# delete all rows with players who did not play
benched_players = all_player_stats_df[(all_player_stats_df['MP'] == 'Did Not Play')].index
all_player_stats_df.drop(benched_players , inplace=True)

# delete all rows with players who did not dress
out_players = all_player_stats_df[(all_player_stats_df['MP'] == 'Did Not Dress')].index
all_player_stats_df.drop(out_players , inplace=True)

In [4]:
all_player_stats_df = all_player_stats_df.fillna(0)
all_player_stats_df.sort_values(by=['PTS'], ascending=False)

,Name,MP,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,...,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-,Date
267,De'Aaron Fox,33:43,14.0,25.0,0.560,2.0,5.0,0.400,7.0,9.0,...,4.0,5.0,2.0,0.0,0.0,2.0,5.0,37.0,-20.0,12/19/2022
274,Shai Gilgeous-Alexander,37:30,16.0,23.0,0.696,2.0,3.0,0.667,3.0,4.0,...,0.0,1.0,7.0,2.0,0.0,0.0,0.0,37.0,-10.0,1/20/2023
57,Nikola Vučević,31:22,15.0,23.0,0.652,2.0,5.0,0.400,4.0,5.0,...,9.0,13.0,0.0,2.0,0.0,3.0,1.0,36.0,12.0,11/17/2018
236,De'Aaron Fox,32:26,15.0,23.0,0.652,3.0,5.0,0.600,3.0,6.0,...,4.0,5.0,4.0,1.0,1.0,3.0,1.0,36.0,5.0,10/22/2022
70,Tim Hardaway Jr.,35:57,9.0,20.0,0.450,5.0,10.0,0.500,9.0,10.0,...,1.0,2.0,2.0,3.0,0.0,1.0,2.0,32.0,-24.0,11/18/2018
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
241,Malik Monk,13:03,0.0,4.0,0.000,0.0,2.0,0.000,0.0,1.0,...,2.0,2.0,1.0,1.0,0.0,2.0,1.0,0.0,-13.0,10/22/2022
180,Justin Robinson,2:52,0.0,3.0,0.000,0.0,1.0,0.000,0.0,0.0,...,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,-3.0,12/19/2021
188,Daniel Theis,6:10,0.0,2.0,0.000,0.0,1.0,0.000,0.0,0.0,...,1.0,2.0,0.0,0.0,1.0,1.0,2.0,0.0,-1.0,1/14/2022
174,Tre Jones,10:20,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,...,3.0,3.0,4.0,0.0,0.0,1.0,0.0,0.0,8.0,12/19/2021
309,Alex Len,0:02,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1/21/2023

In [5]:
col_list = all_player_stats_df.columns.tolist()
col_list.remove('Name')
col_list.remove('MP')
col_list.remove('FG%')
col_list.remove('3P%')
col_list.remove('FT%')
col_list.remove('Date')

total_sum_list = []

for col in col_list: 
    sum_list = []
    sum_list = all_player_stats_df.groupby('Name')[col].sum()
    total_sum_list.append(sum_list)
    
test_df = pd.DataFrame(total_sum_list)
test_df = test_df.transpose()

In [6]:
# val = all_player_stats_df['MP'].values[0]
# val2 = all_player_stats_df['MP'].values[1]

# datetime_object = datetime.datetime.strptime(val, '%M:%S').time()
# datetime_object2 = datetime.datetime.strptime(val2, '%M:%S').time()

# timeList = [val, val2]

# mysum = datetime.timedelta()
# for i in timeList:
#     (m, s) = i.split(':')
#     d = datetime.timedelta(minutes=int(m), seconds=int(s))
#     mysum += d
# print(str(mysum))

In [7]:
test_df = test_df.rename(columns={'3P': 'Three_P', '3PA': 'Three_PA'})

test_df['FG%'] = test_df.apply(lambda row: row.FG/row.FGA, axis = 1)
test_df['3P%'] = test_df.apply(lambda row: row.Three_P/row.Three_PA, axis = 1)
test_df['FT%'] = test_df.apply(lambda row: row.FT/row.FTA, axis = 1)

test_df = test_df.rename(columns={'Three_P': '3P', 'Three_PA': '3PA'})

test_df = test_df.fillna(0)

test_df.loc[:, "FG%"] = test_df["FG%"].map('{:.3f}'.format)
test_df.loc[:, "3P%"] = test_df["3P%"].map('{:.3f}'.format)
test_df.loc[:, "FT%"] = test_df["FT%"].map('{:.3f}'.format)

FGP_Col = test_df.pop("FG%")
TPP_Col = test_df.pop("3P%")
FTP_Col = test_df.pop("FT%")

test_df.insert(6, 'FT%', FTP_Col)
test_df.insert(4, '3P%', TPP_Col)
test_df.insert(2, 'FG%', FGP_Col)

test_df

/var/folders/2d/w0_y9zt547v2y0371_wclbcm0000gn/T/ipykernel_9732/2518115453.py:3: RuntimeWarning: invalid value encountered in double_scalars
  test_df['FG%'] = test_df.apply(lambda row: row.FG/row.FGA, axis = 1)
/var/folders/2d/w0_y9zt547v2y0371_wclbcm0000gn/T/ipykernel_9732/2518115453.py:4: RuntimeWarning: invalid value encountered in double_scalars
  test_df['3P%'] = test_df.apply(lambda row: row.Three_P/row.Three_PA, axis = 1)
/var/folders/2d/w0_y9zt547v2y0371_wclbcm0000gn/T/ipykernel_9732/2518115453.py:5: RuntimeWarning: invalid value encountered in double_scalars
  test_df['FT%'] = test_df.apply(lambda row: row.FT/row.FTA, axis = 1)

,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
Name,,,,,,,,,,,,,,,,,,,
Aaron Gordon,23.0,41.0,0.561,6.0,13.0,0.462,5.0,8.0,0.625,7.0,10.0,17.0,8.0,4.0,1.0,5.0,5.0,57.0,29.0
Aaron Holiday,4.0,10.0,0.400,1.0,1.0,1.000,0.0,0.0,0.000,2.0,3.0,5.0,7.0,1.0,0.0,3.0,1.0,9.0,13.0
Al Horford,6.0,13.0,0.462,0.0,0.0,0.000,1.0,2.0,0.500,1.0,4.0,5.0,0.0,1.0,2.0,2.0,0.0,13.0,0.0
Alec Burks,11.0,19.0,0.579,2.0,4.0,0.500,10.0,15.0,0.667,2.0,3.0,5.0,3.0,1.0,0.0,2.0,5.0,34.0,8.0
Alex Len,11.0,18.0,0.611,0.0,2.0,0.000,1.0,6.0,0.167,6.0,15.0,21.0,7.0,2.0,11.0,5.0,12.0,23.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wes Iwundu,0.0,2.0,0.000,0.0,2.0,0.000,2.0,2.0,1.000,1.0,1.0,2.0,3.0,0.0,2.0,1.0,3.0,2.0,25.0
Wesley Johnson,7.0,14.0,0.500,1.0,3.0,0.333,0.0,0.0,0.000,0.0,6.0,6.0,0.0,0.0,0.0,2.0,3.0,15.0,-14.0
Xavier Munford,4.0,8.0,0.500,1.0,1.0,1.000,1.0,2.0,0.500,0.0,2.0,2.0,1.0,2.0,0.0,3.0,3.0,10.0,-5.0
Zach Randolph,5.0,15.0,0.333,1.0,2.0,0.500,4.0,6.0,0.667,2.0,5.0,7.0,7.0,0.0,0.0,1.0,3.0,15.0,-1.0
Zaza Pachulia,2.0,2.0,1.000,0.0,0.0,0.000,1.0,1.0,1.000,0.0,1.0,1.0,2.0,1.0,0.0,2.0,0.0,5.0,5.0

In [8]:
test_df.sort_values(by=['3P%'], ascending=False)

,FG,FGA,FG%,3P,3PA,3P%,FT,FTA,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS,+/-
Name,,,,,,,,,,,,,,,,,,,
D.J. Augustin,13.0,17.0,0.765,7.0,7.0,1.000,12.0,14.0,0.857,0.0,6.0,6.0,14.0,0.0,0.0,7.0,7.0,45.0,24.0
Noah Vonleh,2.0,5.0,0.400,1.0,1.0,1.000,2.0,2.0,1.000,2.0,7.0,9.0,1.0,0.0,1.0,2.0,4.0,7.0,-4.0
Reggie Jackson,4.0,5.0,0.800,3.0,3.0,1.000,3.0,3.0,1.000,0.0,2.0,2.0,5.0,1.0,0.0,3.0,2.0,14.0,0.0
Jahmi'us Ramsey,3.0,4.0,0.750,1.0,1.0,1.000,0.0,0.0,0.000,0.0,1.0,1.0,1.0,1.0,0.0,1.0,2.0,7.0,6.0
Xavier Munford,4.0,8.0,0.500,1.0,1.0,1.000,1.0,2.0,0.500,0.0,2.0,2.0,1.0,2.0,0.0,3.0,3.0,10.0,-5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Jose Alvarado,3.0,3.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,1.0,2.0,3.0,3.0,4.0,0.0,2.0,1.0,6.0,3.0
Josh Christopher,3.0,6.0,0.500,0.0,1.0,0.000,0.0,0.0,0.000,1.0,1.0,2.0,2.0,1.0,0.0,3.0,0.0,6.0,-2.0
Josh Jackson,0.0,2.0,0.000,0.0,1.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-9.0
Justin Champagnie,0.0,1.0,0.000,0.0,0.0,0.000,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,-4.0
Zaza Pachulia,2.0,2.0,1.000,0.0,0.0,0.000,1.0,1.0,1.000,0.0,1.0,1.0,2.0,1.0,0.0,2.0,0.0,5.0,5.0