In [1]:
# Import needed dependencies
import requests
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import re
from datetime import date
from bs4 import BeautifulSoup, Comment

hof_table_list = []
hof_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/awards/hof.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
hof_table = soup.select_one('#div_hof')

# for comment in hof_table.find_all(text=lambda text: isinstance(text, Comment)):
#     if comment.find("<table ") > 0:
#         comment_soup = BeautifulSoup(comment, 'html.parser')
#         table = comment_soup.find("table")
        
# Grab data from table and put it into the list created above
for tr in hof_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    hof_table_list.append(tds)

for tr in hof_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    hof_table_header_list.append(ths)

In [2]:
final_hof_table_header_list = hof_table_header_list[1]
final_hof_table_header_list.pop(0)

hof_df = pd.DataFrame(hof_table_list, columns=final_hof_table_header_list)
#hof_df = hof_df.rename(columns={'0': 'Name', '1': 'Role'})
hof_df

,Name,Category,G,PTS,TRB,AST,STL,BLK,FG%,3P%,FT%,WS,WS/48,,G,W,L,W/L%
0,Sonny Boswell,Player,,,,,,,,,,,,,,,,
1,Swin CashWNBA/CBBplayer,Player,,,,,,,,,,,,,,,,
2,Larry CostelloPlayer/Coach/CBBplayer/CBBcoach,Contributor,,,,,,,,,,,,,,,,
3,Hugh EvansRef,Referee,,,,,,,,,,,,,,,,
4,Manu GinobiliPlayer/Int'l,Player,1057,13.3,3.5,3.8,1.3,0.3,.447,.369,.827,106.4,.190,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
443,James NaismithCBBcoach,Contributor,,,,,,,,,,,,,,,,
444,Harold OlsenCoach/CBBcoach,Contributor,,,,,,,,,,,,,,,,
445,John Schommer,Player,,,,,,,,,,,,,,,,
446,Amos Alonzo StaggCBBcoach,Contributor,,,,,,,,,,,,,,,,
447,Oswald Tower,Contributor,,,,,,,,,,,,,,,,

In [4]:
hof_names = hof_df['Name'].to_list()

# test1 = re.findall(r"^(.*?)WNBA", hof_names[0])
# test2 = re.findall(r"^(.*?)WNBA", hof_names[1])

cleaning_list = ['^(.*?)WNBA', '^(.*?)CBBplayer', '^(.*?)Coach', '^(.*?)CBBcoach', '^(.*?)Exec', '^(.*?)Ref', '^(.*?)Player', '^(.*?)Oly']
temp_hof_name_list = []

for name in hof_names:
#     temp_name_holder = 'a'
    cleaned_name = re.findall(r'^(.*?)\/', name)
    if cleaned_name == []:
        temp_hof_name_list.append(name)
    else:
        temp_hof_name_list.append(cleaned_name)

new_temp_name_list = []

for temp_name in temp_hof_name_list:
    if type(temp_name) == list:
        new_temp_name = str(temp_name[0])
        new_temp_name_list.append(new_temp_name)
    else:
        new_temp_name_list.append(temp_name)

cleaned_hof_name_list = []   

for temp_name in new_temp_name_list:
    name_holder = temp_name
    counter = 0 
    
    for string in cleaning_list:
        new_cleaned_name = re.findall(string, temp_name)

        if new_cleaned_name != []:
            cleaned_hof_name_list.append(new_cleaned_name)
            break
        elif (new_cleaned_name == [] and counter == len(cleaning_list)):
            cleaned_hof_name_list.append(name_holder)
        else:
            counter = counter + 1
            continue

            
final_temp_name_list = []

for final_name in cleaned_hof_name_list:
    if type(final_name) == list:
        final_name_string = str(final_name[0])
        final_temp_name_list.append(final_name_string)
    else:
        final_temp_name_list.append(final_name)

hof_df = pd.DataFrame(final_temp_name_list, columns = ["Player"])
hof_df

                Player
0            Swin Cash
1       Larry Costello
2           Hugh Evans
3        Manu Ginobili
4         Tim Hardaway
..                 ...
310    Walter Meanwell
311       George Mikan
312     James Naismith
313       Harold Olsen
314  Amos Alonzo Stagg

[315 rows x 1 columns]

In [ ]:
new_temp_name_list = []

for temp_name in temp_hof_name_list:
    if type(temp_name) == list:
        new_temp_name = str(temp_name[0])
        new_temp_name_list.append(new_temp_name)
    else:
        new_temp_name_list.append(temp_name)

# test = str(temp_hof_name_list[1][0])
# print(type(test))
# test
new_temp_name_list

In [ ]:
# if 'Int' == 'int':
#     print('yup')
# else:
#     print('Nope')

In [ ]:
text = soup.get_text()
attendance_string = re.findall(r"Attendance:\s+\d*,\d*", text)
game_time_string = re.findall(r"Time of Game:\s+\d:\d*", text)
new_attendance_string = attendance_string[0].strip('([^a-z]xa)')
new_game_time_string = game_time_string[0].strip('([^a-z]xa)')
attendance_list = list(new_attendance_string)
game_time_list = list(new_game_time_string)
attendance_list.pop(11)
game_time_list.pop(13)

In [ ]:
final_attendance_string = "".join(attendance_list)
final_game_time_sting = "".join(game_time_list)

In [ ]:
final_attendance_string

In [ ]:
final_game_time_sting

In [ ]:
x = final_attendance_string.split(":")
y = final_game_time_sting.split(":",1)

In [ ]:
attendance_df = pd.DataFrame(x, columns = [x[0]])
attendance_df = attendance_df.drop([0])
attendance_df

In [ ]:
game_time_df = pd.DataFrame(y, columns = [y[0]])
game_time_df = game_time_df.drop([0])
game_time_df