In [1]:
# Import needed dependencies
import requests
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import re
import time
from datetime import date
from bs4 import BeautifulSoup, Comment

In [11]:
hof_table_list = []
hof_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.baseball-reference.com/awards/hof.shtml'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
hof_table = soup.select_one('#div_hof')
        
# Grab data from table and put it into the list created above
for tr in hof_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    hof_table_list.append(tds)

for tr in hof_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    hof_table_header_list.append(ths)
    
final_hof_table_header_list = hof_table_header_list[0]
final_hof_table_header_list.pop(0)

hof_df = pd.DataFrame(hof_table_list, columns=final_hof_table_header_list)

hof_names = hof_df['Name'].to_list()

# cleaning_list = ['^(.*?)WNBA', '^(.*?)CBBplayer', '^(.*?)Coach', '^(.*?)CBBcoach', '^(.*?)Exec', '^(.*?)Ref', '^(.*?)Player', '^(.*?)Oly']
# temp_hof_name_list = []

# for name in hof_names:
# #     temp_name_holder = 'a'
#     cleaned_name = re.findall(r'^(.*?)\/', name)
#     if cleaned_name == []:
#         temp_hof_name_list.append(name)
#     else:
#         temp_hof_name_list.append(cleaned_name)

# new_temp_name_list = []

# for temp_name in temp_hof_name_list:
#     if type(temp_name) == list:
#         new_temp_name = str(temp_name[0])
#         new_temp_name_list.append(new_temp_name)
#     else:
#         new_temp_name_list.append(temp_name)

# cleaned_hof_name_list = []   

# for temp_name in new_temp_name_list:
#     name_holder = temp_name
#     counter = 0 
    
#     for string in cleaning_list:
#         new_cleaned_name = re.findall(string, temp_name)

#         if new_cleaned_name != []:
#             cleaned_hof_name_list.append(new_cleaned_name)
#             break
#         elif (new_cleaned_name == [] and counter == len(cleaning_list)):
#             cleaned_hof_name_list.append(name_holder)
#         else:
#             counter = counter + 1
#             continue

            
# final_temp_name_list = []

# for final_name in cleaned_hof_name_list:
#     if type(final_name) == list:
#         final_name_string = str(final_name[0])
#         final_temp_name_list.append(final_name_string)
#     else:
#         final_temp_name_list.append(final_name)

# hof_df = pd.DataFrame(final_temp_name_list, columns = ["Player"])
hof_df

,Name,,Voted By,Inducted As,Votes,% of Ballots
0,Fred McGriff,1963-Living,Contemporary Era,Player,,
1,Scott Rolen,1975-Living,BBWAA,Player,297.0,76.3%
2,Bud Fowler,1858-1913,Early Baseball Era,Pioneer/Executive,,
3,Gil Hodges,1924-1972,Golden Days Era,Player,,
4,Jim Kaat,1938-Living,Golden Days Era,Player,,
...,...,...,...,...,...,...
337,Ty Cobb,1886-1961,BBWAA,Player,222.0,98.2%
338,Walter Johnson,1887-1946,BBWAA,Player,189.0,83.6%
339,Christy Mathewson,1880-1925,BBWAA,Player,205.0,90.7%
340,Babe Ruth,1895-1948,BBWAA,Player,215.0,95.1%
341,Honus Wagner,1874-1955,BBWAA,Player,215.0,95.1%

In [50]:
mvp_table_list = []
mvp_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.baseball-reference.com/awards/mvp.shtml'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
mvp_table = soup.select_one('#all_mvp')
        
# Grab data from table and put it into the list created above
for tr in mvp_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    mvp_table_list.append(tds)

for tr in mvp_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    mvp_table_header_list.append(ths)
    
today = date.today()

# dd/mm/YY
if int(today.strftime("%M")) > 11:
    current_season = int(today.strftime("%Y"))
else:
    current_season = (int(today.strftime("%Y")) - 1)

mvp_player_list = []
mvp_year_list = []
league_list = []
counter = 2

while counter < len(mvp_table_header_list):
    if mvp_table_header_list[counter] != ['']:
        mvp_year_list.append(mvp_table_header_list[counter][0])
    counter = counter + 1
        

for item in mvp_table_list:
    if item[0] != '':
        mvp_player_list.append(item[1])
        league_list.append(item[0])
#         mvp_year_list.append(current_season)
    else:
        current_season = current_season - 1
    
mvp_df = pd.DataFrame(
    {'Year': mvp_year_list,
     'Player': mvp_player_list,
     'League': league_list
    })

mvp_df

     Year            Player League
0    2022       Aaron Judge     AL
1    2022  Paul Goldschmidt     NL
2    2021     Shohei Ohtani     AL
3    2021      Bryce Harper     NL
4    2020        José Abreu     AL
..    ...               ...    ...
201  1913      Jake Daubert     NL
202  1912      Tris Speaker     AL
203  1912       Larry Doyle     NL
204  1911           Ty Cobb     AL
205  1911     Frank Schulte     NL

[206 rows x 3 columns]

In [54]:
cya_table_header_list

[['Year',
  'Lg',
  'Name',
  'Tm',
  'WAR',
  'W',
  'L',
  'SV',
  'ERA',
  'IP',
  'SO',
  'Voting'],
 ['2022'],
 ['2022'],
 [''],
 ['2021'],
 ['2021'],
 [''],
 ['2020'],
 ['2020'],
 [''],
 ['2019'],
 ['2019'],
 [''],
 ['2018'],
 ['2018'],
 [''],
 ['2017'],
 ['2017'],
 [''],
 ['2016'],
 ['2016'],
 [''],
 ['2015'],
 ['2015'],
 [''],
 ['2014'],
 ['2014'],
 [''],
 ['2013'],
 ['2013'],
 [''],
 ['2012'],
 ['2012'],
 [''],
 ['2011'],
 ['2011'],
 [''],
 ['2010'],
 ['2010'],
 [''],
 ['2009'],
 ['2009'],
 [''],
 ['2008'],
 ['2008'],
 [''],
 ['2007'],
 ['2007'],
 [''],
 ['2006'],
 ['2006'],
 [''],
 ['2005'],
 ['2005'],
 [''],
 ['2004'],
 ['2004'],
 [''],
 ['2003'],
 ['2003'],
 [''],
 ['2002'],
 ['2002'],
 [''],
 ['2001'],
 ['2001'],
 [''],
 ['2000'],
 ['2000'],
 [''],
 ['1999'],
 ['1999'],
 [''],
 ['1998'],
 ['1998'],
 [''],
 ['1997'],
 ['1997'],
 [''],
 ['1996'],
 ['1996'],
 [''],
 ['1995'],
 ['1995'],
 [''],
 ['1994'],
 ['1994'],
 [''],
 ['1993'],
 ['1993'],
 [''],
 ['1992'],
 ['1992'],
 [''],
 ['1991'],
 ['1991'],
 [''],
 ['1990'],
 ['1990'],
 [''],
 ['1989'],
 ['1989'],
 [''],
 ['1988'],
 ['1988'],
 [''],
 ['1987'],
 ['1987'],
 [''],
 ['1986'],
 ['1986'],
 [''],
 ['1985'],
 ['1985'],
 [''],
 ['1984'],
 ['1984'],
 [''],
 ['1983'],
 ['1983'],
 [''],
 ['1982'],
 ['1982'],
 [''],
 ['1981'],
 ['1981'],
 [''],
 ['1980'],
 ['1980'],
 [''],
 ['1979'],
 ['1979'],
 [''],
 ['1978'],
 ['1978'],
 [''],
 ['1977'],
 ['1977'],
 [''],
 ['1976'],
 ['1976'],
 [''],
 ['1975'],
 ['1975'],
 [''],
 ['1974'],
 ['1974'],
 [''],
 ['1973'],
 ['1973'],
 [''],
 ['1972'],
 ['1972'],
 [''],
 ['1971'],
 ['1971'],
 [''],
 ['1970'],
 ['1970'],
 [''],
 ['1969'],
 ['1969'],
 ['1969'],
 [''],
 ['1968'],
 ['1968'],
 [''],
 ['1967'],
 ['1967'],
 [''],
 ['1966'],
 [''],
 ['1965'],
 [''],
 ['1964'],
 [''],
 ['1963'],
 [''],
 ['1962'],
 [''],
 ['1961'],
 [''],
 ['1960'],
 [''],
 ['1959'],
 [''],
 ['1958'],
 [''],
 ['1957'],
 [''],
 ['1956']]

In [55]:
cya_table_list = []
cya_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.baseball-reference.com/awards/cya.shtml'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
cya_table = soup.select_one('#div_cya')
        
# Grab data from table and put it into the list created above
for tr in cya_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    cya_table_list.append(tds)

for tr in cya_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    cya_table_header_list.append(ths)
    
today = date.today()

# dd/mm/YY
if int(today.strftime("%M")) > 11:
    current_season = int(today.strftime("%Y"))
else:
    current_season = (int(today.strftime("%Y")) - 1)

cya_player_list = []
cya_year_list = []
league_list = []
counter = 1

while counter < len(cya_table_header_list):
    if cya_table_header_list[counter] != ['']:
        cya_year_list.append(cya_table_header_list[counter][0])
    counter = counter + 1
        

for item in cya_table_list:
    if item[0] != '':
        cya_player_list.append(item[1])
        league_list.append(item[0])
    else:
        current_season = current_season - 1
    
cya_df = pd.DataFrame(
    {'Year': cya_year_list,
     'Player': cya_player_list,
     'League': league_list
    })

cya_df

     Year            Player League
0    2022  Justin Verlander     AL
1    2022   Sandy Alcantara     NL
2    2021        Robbie Ray     AL
3    2021     Corbin Burnes     NL
4    2020      Shane Bieber     AL
..    ...               ...    ...
119  1960          Vern Law     ML
120  1959        Early Wynn     ML
121  1958        Bob Turley     ML
122  1957      Warren Spahn     ML
123  1956      Don Newcombe     ML

[124 rows x 3 columns]

In [6]:
all_league_table_list = []
all_league_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/awards/all_league.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
all_league_table = soup.select_one('#div_awards_all_league')
        
# Grab data from table and put it into the list created above
for tr in all_league_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    all_league_table_list.append(tds)

for tr in all_league_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    all_league_table_header_list.append(ths)


today = date.today()

# dd/mm/YY
if int(today.strftime("%m")) > 6:
    current_season = int(today.strftime("%Y"))
else:
    current_season = (int(today.strftime("%Y")) - 1)

all_league_player_list = []
all_league_team_list = []
league_list = []


for item in all_league_table_list:
    counter = 3
    list_navigator = 3
    while list_navigator < 8:
        all_league_player_list.append(item[list_navigator])
        all_league_team_list.append(item[1])
        list_navigator = list_navigator + 1
        league_list.append(item[0])


cleaned_all_league_player_list = []
cleaned_all_league_team_list = []
cleaned_league_list = []
all_league_year_list = []

for item in all_league_player_list:
    if item == '':
        continue
    else:
        cleaned_all_league_player_list.append(item)

for item in all_league_team_list:
    if item == '':
        continue
    else:
        cleaned_all_league_team_list.append(item)

for item in league_list:
    if item == '':
        continue
    else:
        cleaned_league_list.append(item)

        
current_season = current_season + 1
        
for i in range(len(cleaned_all_league_team_list)):      
    if ((cleaned_all_league_team_list[i] == '1st') and (cleaned_all_league_team_list[i - 1] != '1st') and (cleaned_league_list[i] != 'ABA')):
        current_season = current_season - 1
        all_league_year_list.append(current_season)
    else:
        all_league_year_list.append(current_season)

        
all_league_df = pd.DataFrame(
    {'Year': all_league_year_list,
     'Player': cleaned_all_league_player_list,
     'Team': cleaned_all_league_team_list
    })

all_league_df

      Year                  Player Team
0     2022           Nikola JokićC  1st
1     2022  Giannis AntetokounmpoF  1st
2     2022           Jayson TatumF  1st
3     2022            Luka DončićG  1st
4     2022           Devin BookerG  1st
...    ...                     ...  ...
1015  1947       Frankie Baumholtz  2nd
1016  1947         Ernie Calverley  2nd
1017  1947           Chick Halbert  2nd
1018  1947              John Logan  2nd
1019  1947            Fred Scolari  2nd

[1020 rows x 3 columns]

In [7]:
time.sleep(15)

allstar_table_list = []

today = date.today()

# dd/mm/YY
allstar_year = int(today.strftime("%Y"))
if int(today.strftime("%m")) < 3:
    allstar_year = allstar_year - 1

start_year = 1951

while start_year <= allstar_year:   
    # input URL and use BeautifulSoup to parse through the page
    url = f'https://www.basketball-reference.com/leagues/NBA_{start_year}.html'
    soup = BeautifulSoup(requests.get(url).content, 'html.parser')

    # Grab the table element that has NBA player statistics
    allstar_table = soup.select_one('#all_all_star_game_rosters')

    comment = allstar_table.find(text=lambda text: isinstance(text, Comment))
    if comment.find("table") > 0:
            comment_soup = BeautifulSoup(comment, 'html.parser')
            table = comment_soup.find_all("table")

    # Grab data from table and put it into the list created above
    for tr in table[0].select('tr:has(td)'):
        tds = [td.get_text(strip=True) for td in tr.select('td')]
        allstar_table_list.append(tds)
        
    for tr in table[1].select('tr:has(td)'):
        tds = [td.get_text(strip=True) for td in tr.select('td')]
        allstar_table_list.append(tds)
        
    allstar_table_list.append(start_year)

    if start_year == 1998:
        start_year = start_year + 2
    else:
        start_year = start_year + 1
    
    time.sleep(3)


allstar_teams_list = []
i = 0

while i <= (len(allstar_table_list)-1):
    allstar_teams_list.append(((allstar_table_list[i] + allstar_table_list[(i+1)]),allstar_table_list[(i+2)]))
    i = i + 3

allstar_df = pd.DataFrame(allstar_teams_list, columns = ('All_Stars','Year'))
allstar_df

                                            All_Stars  Year
0   [Paul Arizin*Vince BorylaBob Cousy*Joe Fulks*H...  1951
1   [Paul Arizin*Bob Cousy*Joe Fulks*Harry Gallati...  1952
2   [Don Barksdale*Carl Braun*Bob Cousy*Bill Gabor...  1953
3   [Carl Braun*Bob Cousy*Ray FelixHarry Gallatin*...  1954
4   [Paul Arizin*Carl Braun*Bob Cousy*Harry Gallat...  1955
..                                                ...   ...
67  [Giannis AntetokounmpoStephen CurryJoel Embiid...  2019
68  [Bam AdebayoGiannis AntetokounmpoJimmy ButlerJ...  2020
69  [Bradley BealDevin BookerMike ConleyAnthony Da...  2021
70  [LaMelo BallDevin BookerKevin DurantJoel Embii...  2022
71  [Bam AdebayoGiannis AntetokounmpoDeMar DeRozan...  2023

[72 rows x 2 columns]

In [8]:
dpoy_table_list = []

today = date.today()

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/awards/dpoy.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
dpoy_table = soup.select_one('#div_dpoy_NBA')

# Grab data from table and put it into the list created above
for tr in dpoy_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    dpoy_table_list.append(tds)

dpoy_df = pd.DataFrame(dpoy_table_list)
dpoy_list = dpoy_df[1].to_list()

# dd/mm/YY
dpoy_year = int(today.strftime("%Y"))
if int(today.strftime("%m")) < 7:
    dpoy_year = dpoy_year - 1

dpoy_seen_df_list = []
for item in dpoy_list:
    dpoy_seen_df_list.append([item,dpoy_year])
    dpoy_year = dpoy_year - 1

dpoy_seen_df = pd.DataFrame(dpoy_seen_df_list, columns = ['Player', 'Year'])
agg_dpoy_seen_years_list = []
agg_dpoy_seen_list = []
player_dpoy_count_list = []

for player in dpoy_seen_df['Player'].unique():
    agg_dpoy_seen_list.append(player)
    agg_dpoy_seen_years_list.append(dpoy_seen_df.loc[dpoy_seen_df['Player'] == player]['Year'].to_list())
    player_dpoy_count_list.append(dpoy_seen_df.loc[dpoy_seen_df['Player'] == player]['Year'].count())
    
agg_dpoy_seen_df = pd.DataFrame(columns = ['Player','X_DPOY','Years'])
agg_dpoy_seen_df['Player'] = agg_dpoy_seen_list
agg_dpoy_seen_df['Years'] = agg_dpoy_seen_years_list
agg_dpoy_seen_df['X_DPOY'] = player_dpoy_count_list

agg_dpoy_seen_df

                   Player  X_DPOY                     Years
0            Marcus Smart       1                    [2022]
1             Rudy Gobert       3        [2021, 2019, 2018]
2   Giannis Antetokounmpo       1                    [2020]
3          Draymond Green       1                    [2017]
4           Kawhi Leonard       2              [2016, 2015]
5             Joakim Noah       1                    [2014]
6              Marc Gasol       1                    [2013]
7          Tyson Chandler       1                    [2012]
8           Dwight Howard       3        [2011, 2010, 2009]
9           Kevin Garnett       1                    [2008]
10           Marcus Camby       1                    [2007]
11            Ben Wallace       4  [2006, 2005, 2003, 2002]
12      Metta World Peace       1                    [2004]
13        Dikembe Mutombo       4  [2001, 1998, 1997, 1995]
14        Alonzo Mourning       2              [2000, 1999]
15            Gary Payton       1                    [1996]
16        Hakeem Olajuwon       2              [1994, 1993]
17         David Robinson       1                    [1992]
18          Dennis Rodman       2              [1991, 1990]
19             Mark Eaton       2              [1989, 1985]
20         Michael Jordan       1                    [1988]
21         Michael Cooper       1                    [1987]
22        Alvin Robertson       1                    [1986]
23        Sidney Moncrief       2              [1984, 1983]

In [9]:
hof_df.to_csv('nba_hof.csv')
mvp_df.to_csv('nba_mvp.csv')
all_league_df.to_csv('all_league_players.csv')
allstar_df.to_csv('allstars.csv')
agg_dpoy_seen_df.to_csv('dpoy.csv')