In [1]:
# Import needed dependencies
import requests
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
import re
import time
from datetime import date
from bs4 import BeautifulSoup, Comment

In [2]:
hof_table_list = []
hof_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/awards/hof.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
hof_table = soup.select_one('#div_hof')
        
# Grab data from table and put it into the list created above
for tr in hof_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    hof_table_list.append(tds)

for tr in hof_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    hof_table_header_list.append(ths)
    
final_hof_table_header_list = hof_table_header_list[1]
final_hof_table_header_list.pop(0)

hof_df = pd.DataFrame(hof_table_list, columns=final_hof_table_header_list)

hof_names = hof_df['Name'].to_list()

cleaning_list = ['^(.*?)WNBA', '^(.*?)CBBplayer', '^(.*?)Coach', '^(.*?)CBBcoach', '^(.*?)Exec', '^(.*?)Ref', '^(.*?)Player', '^(.*?)Oly']
temp_hof_name_list = []

for name in hof_names:
#     temp_name_holder = 'a'
    cleaned_name = re.findall(r'^(.*?)\/', name)
    if cleaned_name == []:
        temp_hof_name_list.append(name)
    else:
        temp_hof_name_list.append(cleaned_name)

new_temp_name_list = []

for temp_name in temp_hof_name_list:
    if type(temp_name) == list:
        new_temp_name = str(temp_name[0])
        new_temp_name_list.append(new_temp_name)
    else:
        new_temp_name_list.append(temp_name)

cleaned_hof_name_list = []   

for temp_name in new_temp_name_list:
    name_holder = temp_name
    counter = 0 
    
    for string in cleaning_list:
        new_cleaned_name = re.findall(string, temp_name)

        if new_cleaned_name != []:
            cleaned_hof_name_list.append(new_cleaned_name)
            break
        elif (new_cleaned_name == [] and counter == len(cleaning_list)):
            cleaned_hof_name_list.append(name_holder)
        else:
            counter = counter + 1
            continue

            
final_temp_name_list = []

for final_name in cleaned_hof_name_list:
    if type(final_name) == list:
        final_name_string = str(final_name[0])
        final_temp_name_list.append(final_name_string)
    else:
        final_temp_name_list.append(final_name)

hof_df = pd.DataFrame(final_temp_name_list, columns = ["Player"])
hof_df

                Player
0        1976 Women's
1           Gary Blair
2            Pau Gasol
3         Becky Hammon
4           Gene Keady
..                 ...
320    Walter Meanwell
321       George Mikan
322     James Naismith
323       Harold Olsen
324  Amos Alonzo Stagg

[325 rows x 1 columns]

In [3]:
mvp_table_list = []
mvp_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/awards/mvp.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
mvp_table = soup.select_one('#div_mvp_NBA')
        
# Grab data from table and put it into the list created above
for tr in mvp_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    mvp_table_list.append(tds)

for tr in mvp_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    mvp_table_header_list.append(ths)
    
today = date.today()

# dd/mm/YY
if int(today.strftime("%M")) > 6:
    current_season = int(today.strftime("%Y"))
else:
    current_season = (int(today.strftime("%Y")) - 1)

mvp_player_list = []
mvp_year_list = []


for item in mvp_table_list:
    mvp_player_list.append(item[1])
    mvp_year_list.append(current_season)
    current_season = current_season - 1
    
mvp_df = pd.DataFrame(
    {'Year': mvp_year_list,
     'Player': mvp_player_list
    })

mvp_df

    Year                 Player
0   2023            Joel Embiid
1   2022           Nikola Jokić
2   2021           Nikola Jokić
3   2020  Giannis Antetokounmpo
4   2019  Giannis Antetokounmpo
..   ...                    ...
63  1960       Wilt Chamberlain
64  1959             Bob Pettit
65  1958           Bill Russell
66  1957              Bob Cousy
67  1956             Bob Pettit

[68 rows x 2 columns]

In [4]:
all_league_table_list = []
all_league_table_header_list = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/awards/all_league.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
all_league_table = soup.select_one('#div_awards_all_league')
        
# Grab data from table and put it into the list created above
for tr in all_league_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    all_league_table_list.append(tds)

for tr in all_league_table.select('tr:has(th)'):
    ths = [th.get_text(strip=True) for th in tr.select('th')]
    all_league_table_header_list.append(ths)


today = date.today()

# dd/mm/YY
if int(today.strftime("%m")) > 6:
    current_season = int(today.strftime("%Y"))
else:
    current_season = (int(today.strftime("%Y")) - 1)

all_league_player_list = []
all_league_team_list = []
league_list = []


for item in all_league_table_list:
    counter = 3
    list_navigator = 3
    while list_navigator < 8:
        all_league_player_list.append(item[list_navigator])
        all_league_team_list.append(item[1])
        list_navigator = list_navigator + 1
        league_list.append(item[0])


cleaned_all_league_player_list = []
cleaned_all_league_team_list = []
cleaned_league_list = []
all_league_year_list = []

for item in all_league_player_list:
    if item == '':
        continue
    else:
        cleaned_all_league_player_list.append(item)

for item in all_league_team_list:
    if item == '':
        continue
    else:
        cleaned_all_league_team_list.append(item)

for item in league_list:
    if item == '':
        continue
    else:
        cleaned_league_list.append(item)

        
current_season = current_season + 1
        
for i in range(len(cleaned_all_league_team_list)):      
    if ((cleaned_all_league_team_list[i] == '1st') and (cleaned_all_league_team_list[i - 1] != '1st') and (cleaned_league_list[i] != 'ABA')):
        current_season = current_season - 1
        all_league_year_list.append(current_season)
    else:
        all_league_year_list.append(current_season)

        
all_league_df = pd.DataFrame(
    {'Year': all_league_year_list,
     'Player': cleaned_all_league_player_list,
     'Team': cleaned_all_league_team_list
    })

all_league_df

      Year                    Player Team
0     2023              Joel EmbiidC  1st
1     2023    Giannis AntetokounmpoF  1st
2     2023             Jayson TatumF  1st
3     2023              Luka DončićG  1st
4     2023  Shai Gilgeous-AlexanderG  1st
...    ...                       ...  ...
1030  1947         Frankie Baumholtz  2nd
1031  1947           Ernie Calverley  2nd
1032  1947             Chick Halbert  2nd
1033  1947                John Logan  2nd
1034  1947              Fred Scolari  2nd

[1035 rows x 3 columns]

In [5]:
time.sleep(15)

allstar_table_list = []

today = date.today()

# dd/mm/YY
allstar_year = int(today.strftime("%Y"))
if int(today.strftime("%m")) < 3:
    allstar_year = allstar_year - 1

start_year = 1951

while start_year <= allstar_year:   
    # input URL and use BeautifulSoup to parse through the page
    url = f'https://www.basketball-reference.com/leagues/NBA_{start_year}.html'
    soup = BeautifulSoup(requests.get(url).content, 'html.parser')

    # Grab the table element that has NBA player statistics
    allstar_table = soup.select_one('#all_all_star_game_rosters')

    comment = allstar_table.find(text=lambda text: isinstance(text, Comment))
    if comment.find("table") > 0:
            comment_soup = BeautifulSoup(comment, 'html.parser')
            table = comment_soup.find_all("table")

    # Grab data from table and put it into the list created above
    for tr in table[0].select('tr:has(td)'):
        tds = [td.get_text(strip=True) for td in tr.select('td')]
        allstar_table_list.append(tds)
        
    for tr in table[1].select('tr:has(td)'):
        tds = [td.get_text(strip=True) for td in tr.select('td')]
        allstar_table_list.append(tds)
        
    allstar_table_list.append(start_year)

    if start_year == 1998:
        start_year = start_year + 2
    else:
        start_year = start_year + 1
    
    time.sleep(3)


allstar_teams_list = []
i = 0

while i <= (len(allstar_table_list)-1):
    allstar_teams_list.append(((allstar_table_list[i] + allstar_table_list[(i+1)]),allstar_table_list[(i+2)]))
    i = i + 3

allstar_df = pd.DataFrame(allstar_teams_list, columns = ('All_Stars','Year'))
allstar_df

                                            All_Stars  Year
0   [Paul Arizin*Vince BorylaBob Cousy*Joe Fulks*H...  1951
1   [Paul Arizin*Bob Cousy*Joe Fulks*Harry Gallati...  1952
2   [Don Barksdale*Carl Braun*Bob Cousy*Bill Gabor...  1953
3   [Carl Braun*Bob Cousy*Ray FelixHarry Gallatin*...  1954
4   [Paul Arizin*Carl Braun*Bob Cousy*Harry Gallat...  1955
..                                                ...   ...
67  [Giannis AntetokounmpoStephen CurryJoel Embiid...  2019
68  [Bam AdebayoGiannis AntetokounmpoJimmy ButlerJ...  2020
69  [Bradley BealDevin BookerMike ConleyAnthony Da...  2021
70  [LaMelo BallDevin BookerKevin DurantJoel Embii...  2022
71  [Bam AdebayoGiannis AntetokounmpoDeMar DeRozan...  2023

[72 rows x 2 columns]

In [6]:
dpoy_table_list = []

today = date.today()

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/awards/dpoy.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
dpoy_table = soup.select_one('#div_dpoy_NBA')

# Grab data from table and put it into the list created above
for tr in dpoy_table.select('tr:has(td)'):
    tds = [td.get_text(strip=True) for td in tr.select('td')]
    dpoy_table_list.append(tds)

dpoy_df = pd.DataFrame(dpoy_table_list)
dpoy_list = dpoy_df[1].to_list()

# dd/mm/YY
dpoy_year = int(today.strftime("%Y"))
if int(today.strftime("%m")) < 7:
    dpoy_year = dpoy_year - 1

dpoy_seen_df_list = []
for item in dpoy_list:
    dpoy_seen_df_list.append([item,dpoy_year])
    dpoy_year = dpoy_year - 1

dpoy_seen_df = pd.DataFrame(dpoy_seen_df_list, columns = ['Player', 'Year'])
agg_dpoy_seen_years_list = []
agg_dpoy_seen_list = []
player_dpoy_count_list = []

for player in dpoy_seen_df['Player'].unique():
    agg_dpoy_seen_list.append(player)
    agg_dpoy_seen_years_list.append(dpoy_seen_df.loc[dpoy_seen_df['Player'] == player]['Year'].to_list())
    player_dpoy_count_list.append(dpoy_seen_df.loc[dpoy_seen_df['Player'] == player]['Year'].count())
    
agg_dpoy_seen_df = pd.DataFrame(columns = ['Player','X_DPOY','Years'])
agg_dpoy_seen_df['Player'] = agg_dpoy_seen_list
agg_dpoy_seen_df['Years'] = agg_dpoy_seen_years_list
agg_dpoy_seen_df['X_DPOY'] = player_dpoy_count_list

agg_dpoy_seen_df

                   Player  X_DPOY                     Years
0       Jaren Jackson Jr.       1                    [2023]
1            Marcus Smart       1                    [2022]
2             Rudy Gobert       3        [2021, 2019, 2018]
3   Giannis Antetokounmpo       1                    [2020]
4          Draymond Green       1                    [2017]
5           Kawhi Leonard       2              [2016, 2015]
6             Joakim Noah       1                    [2014]
7              Marc Gasol       1                    [2013]
8          Tyson Chandler       1                    [2012]
9           Dwight Howard       3        [2011, 2010, 2009]
10          Kevin Garnett       1                    [2008]
11           Marcus Camby       1                    [2007]
12            Ben Wallace       4  [2006, 2005, 2003, 2002]
13      Metta World Peace       1                    [2004]
14        Dikembe Mutombo       4  [2001, 1998, 1997, 1995]
15        Alonzo Mourning       2              [2000, 1999]
16            Gary Payton       1                    [1996]
17        Hakeem Olajuwon       2              [1994, 1993]
18         David Robinson       1                    [1992]
19          Dennis Rodman       2              [1991, 1990]
20             Mark Eaton       2              [1989, 1985]
21         Michael Jordan       1                    [1988]
22         Michael Cooper       1                    [1987]
23        Alvin Robertson       1                    [1986]
24        Sidney Moncrief       2              [1984, 1983]

In [7]:
hof_df.to_csv('nba_hof.csv')
mvp_df.to_csv('nba_mvp.csv')
all_league_df.to_csv('all_league_players.csv')
allstar_df.to_csv('allstars.csv')
agg_dpoy_seen_df.to_csv('dpoy.csv')