In [1]:
# Import needed dependencies
import requests
import pandas as pd
import numpy as np
import scipy.stats as stats
import matplotlib.pyplot as plt
from datetime import date
from bs4 import BeautifulSoup, Comment

box_score = []

# input URL and use BeautifulSoup to parse through the page
url = f'https://www.basketball-reference.com/boxscores/202212190SAC.html'
soup = BeautifulSoup(requests.get(url).content, 'html.parser')

# Grab the table element that has NBA player statistics
box_score_table = soup.select_one('#all_line_score')

for comment in box_score_table.find_all(text=lambda text: isinstance(text, Comment)):
    if comment.find("<table ") > 0:
        comment_soup = BeautifulSoup(comment, 'html.parser')
        table = comment_soup.find("table")
        
# Grab data from table and put it into the list created above
for tr in table.select('tr:has(td)'):
    tds3 = [td.get_text(strip=True) for td in tr.select('td')]
    box_score.append(tds3)

In [2]:
box_score

[['39', '27', '25', '34', '125'], ['30', '33', '29', '27', '119']]

In [4]:
box_score_df = pd.DataFrame(box_score)
box_score_df

    0   1   2   3    4
0  39  27  25  34  125
1  30  33  29  27  119

In [3]:
# if comment.find("<table ") == 63:

# if comment.find("<table ") == 192:

# <table class="teams poptip" data-tip="Orlando Magic at Atlanta Hawks">
# <tbody>
# <tr class="loser">
# <td><a href="/teams/ORL/2023.html">ORL</a></td>
# <td class="right">125</td>
# <td class="right gamelink">
# <a href="/boxscores/202212190ATL.html">F<span class="no_mobile">inal</span></a>
# </td>
# </tr>
# <tr class="winner">
# <td><a href="/teams/ATL/2023.html">ATL</a></td>
# <td class="right">126</td>
# <td class="right"> 
# 			</td>
# </tr>
# </tbody>
# </table>